@font-face {
    font-family: mc11;
    src: url(../Minecrafter.Reg.ttf);
}

@font-face {
    font-family: handwriting;
    src: url(../handwriting.otf);
}

:root {
    --background-image: url('../img/background-purple.jpg');
    --text-color: #000000;
    --background-color: rgb(255, 255, 255);
    --t_background-color: rgba(255, 255, 255, 0);
    --background-transparent: rgba(255, 255, 255, 0.7);
    --gitg: url('../img/git-white.webp');
    --link_arrow: url('../img/arrow-light.webp');
    --link: url('../img/link-white.webp');
    --headbar_1: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    --headbar_2: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-image: url('../img/Kj5cd8B.jpg');
        --text-color: #ffffff;
        --background-color: rgb(0, 0, 0);
        --t_background-color: rgba(0, 0, 0, 0);
        --background-transparent: rgba(0, 0, 0, 0.7);
        --gitg: url('../img/git-dark.webp');
        --link_arrow: url('../img/arrow-dark.webp');
        --link: url('../img/link-black.webp');
        --headbar_1: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
        --headbar_2: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    }
}

body {
    margin: 0px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*background-color: white;*/
    background-image: var(--background-image);
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

#page_shade {
    /* Set to transparent then hidden by script after page finihes loading */
    position: fixed;
    background-color: var(--background-color);
    transition: background-color 600ms;
    height: 100%;
    width: 100%;
    z-index: 500;
}

.headbar,
.headbar_2 {
    height: fit-content;
    position: relative;
    padding: 0px;
    width: 100%;
    background-image: var(--headbar_1);
}

.headbar_2 {
    background-image: var(--headbar_2);
}

.headbar_content {
    /* Centers The buttons */
    padding: 0px;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.actionbtn,
.actionbtn_active {
    /*   Action buttons at the top of the main content section   */
    margin-left: 0.4vw;
    margin-right: 0.4vw;
    margin-top: 0.4vw;
    font-size: 3.7vw;
    padding: 0.4vw;
    position: relative;
    font-family: mc11;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: box-shadow 500ms, background-color 500ms, color 500ms;
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    border-radius: 1vw;
    border-bottom: 0.5vw solid var(--text-color);
    /*   Default color    */
    color: var(--text-color);
    box-shadow: 0em 0em 0em 0em var(--text-color);
}

.actionbtn:hover,
.actionbtn_active:hover {
    box-shadow: 0em 0em 0.3em 0em var(--text-color);
}

.actionbtn:active,
.actionbtn_active:active {
    color: var(--background-color);
    background-color: var(--text-color);
    transition: box-shadow 0ms, background-color 0ms, color 0ms;
}

.action_txt {
    /*   text- transform effect   */
    transform: translate(0, 15%);
    height: 100%;
    width: 100%;
    transition: transform 400ms;
}

.actionbtn:hover .action_txt,
.actionbtn_active .action_txt {
    transform: translate(0, 2%);
}

#project_btn {
    border-color: #ff0000;
    box-shadow: 0em 0em 0em 0em #ff0000;
}

#project_btn:hover {
    box-shadow: 0em 0em 0.5em 0em #ff0000;
}

#project_btn:active {
    /*color: #000000;*/
    background-color: #ff0000;
}

#about_btn {
    border-color: #00ff00;
    box-shadow: 0em 0em 0em 0em #00ff00;
}

#about_btn:hover {
    box-shadow: 0em 0em 0.5em 0em #00ff00;
}

#about_btn:active {
    /*color: #000000;*/
    background-color: #00ff00;
}

#contact_btn {
    border-color: #0000ff;
    box-shadow: 0em 0em 0em 0em #0000ff;
}

#contact_btn:hover {
    box-shadow: 0em 0em 0.5em 0em #0000ff;
}

#contact_btn:active {
    /*color: #000000;*/
    background-color: #0000ff;
}


/* View pannels */
.main_view {
    position: static;
    display: none;
    height: fit-content;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    /*margin-top: 0.2em;*/
    /* IE 11 */
    scrollbar-width: none;
    /* Firefox 64 */
}

.main_view::-webkit-scrollbar {
    width: 0vw;
}

/*  Project view    */

.pedistals_container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    min-height: 90vh;
    align-content: center;
}

.pedistal {
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0em 0em 0.3em 0em var(--text-color);
    position: relative;
    height: calc(fit-content + 0.5em);
    width: 15em;
    margin: 1.7em;
    cursor: pointer;
    transition: box-shadow 400ms, transform 400ms, color 400ms, background-color 400ms;
    text-decoration: none;
    overflow: hidden;
    transform: translate(0, 0);
    font-family: 'Lexend Deca', sans-serif;
    /*flex:1;*/
}

.pedistal:hover {
    transform: translate(0, -0.5em);
    box-shadow: 0em 0.3em 1.2em 0em var(--text-color);
}

.pedistal:active {
    background-color: var(--text-color);
    color: var(--background-color);
    transition: color 0ms, background-color 0ms;
}

.pedistal_img {
    position: static;
    height: 10em;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/icon.png');
    background-position: center;
}

.pedistal_title {
    position: static;
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    font-size: 2em;
    width: 100%;
    text-align: center;

}

.pedistal_text {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    position: static;
    height: fit-content;
    font-size: 1em;
    width: calc(100% - 1.2em);
    margin: 0.6em;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
}

.linkbar {
    position: absolute;
    left: 0;
    bottom: -5em;
    height: 4em;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    transition: bottom 500ms;
}

.pedistal:hover .linkbar {
    bottom: 0em;
}

.link_dot {
    height: 3.5em;
    width: 3.5em;
    background-color: var(--text-color);
    border-radius: 50%;
    background-image: var(--gitg);
    background-size: 105%;
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
}

.link_dot_to_site {
    background-image: var(--link);
    background-size: 75%;
}

/*  ABout view  */
#about_view {
    display: none;
}

.name_container_expansive,
.name_container_compact {
    position: relative;
    box-sizing: border-box;
    width: calc(100% - 2vw);
    margin: 1vw;
    /*background-clip: content-box;*/
    background-color: var(--background-transparent);
    min-height: 5.6em;
    height: 50vw;
    border-radius: 0.5vw;
    transition: height 500ms;
}

.mename {
    position: absolute;
    bottom: 0.1vw;
    font-size: 7vw;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: var(--text-color);
    user-select: none;
    -webkit-touch-callout: none;
    transition: width 500ms;
}

.mepic {
    position: absolute;
    top: 0.8vw;
    right: 0;
    height: 40vw;
    width: 100%;
    overflow: hidden;
    transition: height 500ms, right 500ms, top 500ms, width 500ms, border-radius 500ms, background-size 500ms;
    background-position: center;
    background-size: contain;
    background-image: url('../img/nephews.webp');
    background-color: none;
    border-radius: 0%;
    background-repeat: no-repeat;
}

.melyfe {
    position: relative;
    box-sizing: border-box;
    width: calc(100% - 2vw);
    margin: 1vw;
    margin-top: 2.5vw;
    /*background-clip: content-box;*/
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 5.6em;
    height: fit-content;
    border-radius: 0.5vw;
}

.melyfe p {
    text-anchor: middle;
    text-align: center;
}

/* Contact */
#contact_container {
    /* Barkened square */
    position: absolute;
    /*top:0;*/
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background-transparent);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    font-family: 'Lexend Deca', sans-serif;

}

.contact_dot {
    position: relative;
    height: 10em;
    width: 8em;
    margin: 1.5em;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--t_background-color);
    cursor: pointer;
    transition: background-color 300ms, transform 300ms;
    transform: translate(0, 0);
    -webkit-user-select: none;
}

.contact_dot:hover {
    background-color: var(--background-color);
}

.contact_dot:active {
    transition: transform 0ms;
    transform: translate(0, 5%);
}

.contact_dot .name {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5em;
    font-size: 1.5em;
    color: var(--text-color);
    text-align: center;
}

.contact_dot .icon {
    position: absolute;
    bottom: 1.5em;
    width: 100%;
    height: 8.5em;
    color: var(--text-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

@keyframes stretch {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}

.notification {
    position: fixed;
    bottom: 2vh;
    right: 1vw;
    height: 20vh;
    width: 98%;
    transform: translate(0vw, 25vh);
    border-top: 0.5vw solid #2bff00;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
    box-shadow: 0vh 0vh 0.5vh 0vh var(--text-color);
    cursor: pointer;
    transition: transform 500ms, box-shadow 200ms;
    z-index: 999;
}

.notification:hover {
    box-shadow: 0vh 0vh 1.5vh 0vh var(--text-color);
}

.notification .title {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 5.5vh;
    font-size: 4.5vh;
    padding-right: 1vw;
    text-align: right;
    white-space: nowrap;
    cursor: inherit;
}

.notification .title::after {
    position: absolute;
    top: 0;
    left: 1.2vw;
    height: 5.5vh;
    width: 5.5vh;
    background-image: url('../img/favico.webp');
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    cursor: inherit;
}

.notification .title::before {
    position: absolute;
    transform: translate(0, 100%);
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: var(--text-color);
    height: 0.3vh;
    animation: stretch 11000ms;
    content: "";
    cursor: inherit;
}

.notification .notifbody {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95%;
    padding: 0.5vh 0.5vw;
    height: 13vh;
    font-size: 2.5vh;
    overflow: hidden;
    cursor: inherit;
}


/*    <--  Landscape overwrite -->     */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

    .actionbtn,
    .actionbtn_active {
        /*   Action buttons at the top of the main content section   */
        margin-left: 0.2em;
        margin-right: 0.2em;
        margin-top: 0.2em;
        font-size: 1.7em;
        padding: 0.2em;
        border-radius: 0.3em;
        border-bottom: 0.15em solid;
        box-shadow: 0em 0em 0em 0em var(--text-color);
    }


    /* View pannels */
    .main_view {
        position: static;
        display: none;
        height: fit-content;
        width: 100%;
        overflow: scroll;
        -ms-overflow-style: none;
        /*margin-top: 0.2em;*/
        /* IE 11 */
        scrollbar-width: none;
        /* Firefox 64 */
    }

    .main_view::-webkit-scrollbar {
        width: 0vw;
    }


    /*  Project view    */

    .pedistals_container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        height: fit-content;
    }

    .pedistal {
        /* Convert to rtf or em scaling */
        -webkit-touch-callout: none;
        user-select: none;
        position: relative;
        cursor: pointer;
        transition: box-shadow 400ms, transform 400ms, color 400ms, background-color 400ms;
        text-decoration: none;
        overflow: hidden;
        transform: translate(0, 0);
        font-family: 'Lexend Deca', sans-serif;
        width: 26em;
        box-sizing: border-box;
        height: 10em;
        border-radius: 0.4em;
    }

    .pedistal_img {
        position: absolute;
        top: 0.1em;
        left: 0.2em;
        height: 4.5em;
        width: 4.5em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .pedistal_title {
        position: absolute;
        -webkit-touch-callout: none;
        /* prevent callout to copy image, etc when tap to hold */
        -webkit-text-size-adjust: none;
        /* prevent webkit from resizing text to fit */
        font-size: 1.8em;
        width: 100%;
        text-align: center;
        top: 0;
        right: 0;
        left: unset;
        /*height: 4.5em;*/
        width: calc(100% - 2.6em);
    }

    .pedistal_text {
        -webkit-touch-callout: none;
        /* prevent callout to copy image, etc when tap to hold */
        -webkit-text-size-adjust: none;
        /* prevent webkit from resizing text to fit */
        position: absolute;
        font-size: 1.1em;
        width: calc(100% - 3em);
        margin: 0;
        padding: 0.4em;
        text-align: center;
        font-family: 'Lexend Deca', sans-serif;
        bottom: 0;
        right: 0;
        height: 7em;
        box-sizing: border-box;
    }

    /*  ABout view  */
    #about_view {
        display: none;
    }

    .name_container_compact {
        position: relative;
        box-sizing: border-box;
        width: calc(100% - 2em);
        margin: 1em;
        /*background-clip: content-box;*/
        /*background-color: var(--background-transparent);*/
        min-height: 5.6em;
        height: 5.4em;
        border-radius: 0.5em;
        transition: height 500ms;
    }

    .name_container_compact .mepic {
        position: absolute;
        top: 0.2em;
        right: 0.2em;
        height: 5em;
        width: 5em;
        overflow: hidden;
        background-position: center;
        background-size: contain;
        background-image: url('../img/nephews.webp');
        border-radius: 50%;
        transition: height 500ms, right 500ms, top 500ms, width 500ms, border-radius 500ms, background-size 500ms;
        background-repeat: no-repeat;
    }

    .name_container_compact .mename {
        position: absolute;
        bottom: 0.1em;
        font-size: 3.4em;
        left: 0;
        width: calc(100% - 3em);
        box-sizing: border-box;
        text-align: center;
        /*color: var(--text-color);*/
        user-select: none;
        -webkit-touch-callout: none;
        transition: width 500ms;
    }

    .name_container_expansive {
        position: relative;
        box-sizing: border-box;
        width: calc(100% - 2em);
        margin: 1em;
        /*background-clip: content-box;*/
        /*background-color: var(--background-transparent);*/
        min-height: 5.6em;
        height: 32em;
        border-radius: 0.5em;
        transition: height 500ms;
        color: var(--text-color);
    }

    .name_container_expansive .mename {
        position: absolute;
        bottom: 0.1em;
        font-size: 3.4em;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        /*color: var(--text-color);*/
        user-select: none;
        -webkit-touch-callout: none;
        transition: width 500ms;
    }

    .name_container_expansive .mepic {
        position: absolute;
        top: 0.8em;
        right: 0;
        height: 27em;
        width: 100%;
        overflow: hidden;
        transition: height 500ms, right 500ms, top 500ms, width 500ms, border-radius 500ms, background-size 500ms;
        background-position: center;
        background-size: contain;
        background-image: url('../img/nephews.webp');
        background-color: none;
        border-radius: 0%;
        background-repeat: no-repeat;
    }

    /* Contact */

    .contact_dot {
        position: relative;
        height: 8em;
        width: 20em;
        margin: 1.5em;
        display: block;
        text-decoration: none;
        /*color: var(--text-color);
        background-color: var(--t_background-color);*/
        cursor: pointer;
        transition: background-color 300ms, color 300ms, transform 300ms;
        transform: translate(0, 0);
        -webkit-user-select: none;
        border-radius: 0.3em;
    }

    .contact_dot .contact_bar {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0%;
        height: 5%;
        transition: width 300ms;
        background-color: #506ffe;
        /*defsult for phone icon*/
    }

    .contact_dot:hover .contact_bar {
        width: 100%;
    }

    .contact_dot .name {
        position: absolute;
        bottom: 1.5em;
        width: 7em;
        /*height: 1.5em;*/
        font-size: 1.8em;
        right: 0;
        color: inherit;
        text-align: center;
    }

    .contact_dot .icon {
        position: absolute;
        left: 0.5em;
        bottom: 0em;
        width: 8em;
        height: 8em;
        color: inherit;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    /*   Type 3 notification   */
    .notification {
        position: fixed;
        bottom: 2vh;
        right: 1vw;
        height: 15vh;
        width: 25vw;
        transform: translate(30vw, 0vh);
        border-top: none;
        border-left: 0.5vw solid var(--text-color);
        background-color: var(--background-color);
        color: var(--text-color);
        overflow: hidden;
        box-shadow: 0vh 0vh 0.5vh 0vh var(--text-color);
        cursor: pointer;
        transition: transform 500ms, box-shadow 200ms;
        z-index: 999;
        border-radius: 0.3vw;
    }

    .notification:hover {
        box-shadow: 0vh 0vh 2vh 0vh var(--text-color);
    }

    .notification .title {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 5.5vh;
        font-size: 4.5vh;
        padding-right: 1vw;
        text-align: right;
        white-space: nowrap;
        cursor: inherit;
    }

    .notification .title::after {
        position: absolute;
        top: 0;
        left: 1.2vw;
        height: 5.5vh;
        width: 5.5vh;
        background-image: url('../img/favico.webp');
        background-size: contain;
        background-repeat: no-repeat;
        content: "";
        cursor: inherit;
    }

    .notification .title::before {
        position: absolute;
        transform: translate(0, 100%);
        bottom: 0;
        left: 0;
        z-index: 99;
        height: 0.5vh;
        animation: stretch 11000ms;
        content: "";
        cursor: inherit;
    }

    .notification .notifbody {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 95%;
        padding: 0.5vh 0.5vw;
        height: 8.5vh;
        font-size: 2.5vh;
        overflow: hidden;
        cursor: inherit;
    }
}