@font-face{ font-family: mc11; src:url(../Minecrafter.Reg.ttf); } 
@font-face{ font-family: cowboy; src:url(../Cowboys_2.0.otf); }
@font-face{ font-family: handwriting; src:url(../handwriting.otf); }

/* Portrait / phone */
@media screen{
    body{
        padding: 0px;
        margin: 0px;
    }
    .headbar{
        position: fixed;
        padding: 0px;
        width: 100%;
        height: 10vh;
        top:0;
    }
    .maincontent{
        margin-top: 10vh;
        padding: 0px;
        width: 100%;
        min-height: 90vh;
    }
    .btnbar{
        width: 97vw;
        margin-left: auto;
        margin-right: auto;
        height:4.5vw;
    }
    .actionbtn{     /*   Action buttons at the top of the main content section   */
        font-family: mc11;
        margin-left: 1vw;
        height: 5.5vw;
        font-size:5vw;
        padding: 0.5vw;
        text-align: center;
        float:left;
        white-space: nowrap;
        cursor: pointer;
        transition: box-shadow 500ms,background-color 500ms,color 500ms;
        -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
        -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
        border-radius: 0.5vh;
    }
    .action_txt{     /*   text- transform effect   */
        transform: translate(0,0.4vh);
        height: 100%;
        width: 100%;
        transition:none;
    }
    .actionbtn:active{transition: box-shadow 0ms,background-color 0ms,color 0ms;}
}

/*    <--  Landscape layout / Standard (with min-width) -->     */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    body{
        padding: 0px;
        margin: 0px;
    }

    .headbar{
        position: fixed;
        padding: 0px;
        width: 100%;
        height: 12vh;
        top:0;
    }
    .maincontent{
        margin-top: 12vh;
        padding: 0px;
        width: 100%;
        min-height: 88vh;
    }
    .btnbar{
        width: 64vw;
        margin-left: auto;
        margin-right: auto;
        height:4.5vw;
    }
    .actionbtn{     /*   Action buttons at the top of the main content section   */
        font-family: mc11;
        margin-left: 0.5vw;
        height: 3.4vw;
        font-size:3.2vw;
        padding: 0.4vw;
        text-align: center;
        float:left;
        white-space: nowrap;
        border-bottom: 0.4vw solid #000000;/*   Default color    */
        cursor: pointer;
        transition: box-shadow 500ms,background-color 500ms,color 500ms;
        -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
        -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
        border-radius: 0.5vh;
    }
    .action_txt{     /*   text- transform effect   */
        transform: translate(0,0.6vh);
        height: 100%;
        width: 100%;
        transition:transform 400ms;
    }.action_txt:hover{transform: translate(0,0.4vh);}
    .actionbtn:active{transition: box-shadow 0ms,background-color 0ms,color 0ms;}

}
