body{
    background-color: #ffa0f7;
    background-image: linear-gradient(0deg,rgb(237, 42, 255),rgb(240, 74, 255),rgb(242, 97, 255),rgb(245, 130, 255),rgb(248, 174, 255),rgb(252, 217, 255),rgb(255, 255, 255));
    background-image: url('../img/background-purple.png');
    color: #ffffff;
}
/*  headbar */
.headbar{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0));
}

/*   Action button colors   */
.actionbtn{     /*   Action buttons at the top of the main content section   */
    border-bottom: 0.4vh solid #ffffff;/*   Default color    */
    color: #ffffff;
    box-shadow: 0vh 0vh 0vh 0vh #ffffff;
}
.actionbtn:hover{box-shadow: 0vh 0vh 1.5vh 0vh #ffffff; }
.actionbtn:active{ color: #000000; background-color: #ffffff; }

#service_btn{ border-bottom: 0.4vh solid #ff0000; box-shadow: 0vh 0vh 0vh 0vh #ff0000; }/*  Service button    */
#service_btn:hover{box-shadow: 0vh 0vh 1.5vh 0vh #ff0000; }
#service_btn:active{ color: #000000; background-color: #ff0000; }

#project_btn{ border-bottom: 0.4vh solid #2bff00;box-shadow: 0vh 0vh 0vh 0vh #2bff00;}/*  Project button    */
#project_btn:hover{box-shadow: 0vh 0vh 1.5vh 0vh #2bff00;}
#project_btn:active{color: #000000;background-color: #2bff00;}

#about_btn{border-bottom: 0.4vh solid #0026ff;box-shadow: 0vh 0vh 0vh 0vh #0026ff;}/*  About button    */
#about_btn:hover{box-shadow: 0vh 0vh 1.5vh 0vh #0026ff;}
#about_btn:active{color: #000000;background-color: #0026ff;}

#contact_btn{border-bottom: 0.4vh solid #ff00ff;box-shadow: 0vh 0vh 0vh 0vh #ff00ff;}/*  About button    */
#contact_btn:hover{box-shadow: 0vh 0vh 1.5vh 0vh #ff00ff;}
#contact_btn:active{color: #000000;background-color: #ff00ff;}
/*    pedistal    */
.pedistal{/* Convert to rtf or em scaling */
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0vh 0vh 0.5vh 0vh #ffffff;
}
.pedistal:hover{box-shadow: 0vh 0.4vh 2vh 0vh #ffffff;}
.pedistal:active{background-color: #ffffff;color: #000000;transition:color 0ms,background-color 0ms;}
.pedistal_img{
    background-image: url('../img/background-dark-3.jpg');
}
.pedistal_img::after{
    background-image: linear-gradient(0deg,rgba(255,255,255,0.0),rgba(255,255,255,0.1),rgba(255,255,255,0.2),rgba(255,255,255,0.3),rgba(255,255,255,0.4),rgba(255,255,255,0.5));
}

.pallet_swap{color: #000000;}/* For light images    */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .pallet_swap .pedistal_title{color: #ffffff;}
    .pallet_swap .pedistal_img::after{/*   Temporary   */
        background-image: linear-gradient(0deg,rgba(0,0,0,0.0),rgba(0,0,0,0.1),rgba(0,0,0,0.2),rgba(0,0,0,0.3),rgba(0,0,0,0.4),rgba(0,0,0,0.5));
    }
}