
/* Portrait / phone */
@media screen{
    body{padding:0px;margin: 0px;}
}

/*    <--  Landscape layout / Standard (with min-width) -->     */
@media screen and (min-aspect-ratio: 1/1) and (min-width:700px) {

    #login_screen{
        position: fixed;
        top: 10vh;
        right: 35vw;
        width: 30vw;
        height: 80vh;
        border-radius: 3vh;
        box-shadow: 0vw 0vw 10vw 0vw #ffffff, 0vw 0vw 100vw 0vw #000000;
        background-color: #303030;
    }
    #logo{
        position: relative;
        margin-left:auto;
        margin-right: auto;
        margin-top: 2vh;
        width: 27vh;
        height: 27vh;
        background-position: fixed;
        background-size: cover;
        background-image: url('../img/password\ worrior\ icon\ prototype.webp');
    }
    #logo_text{
        position: relative;
        width:100%;
        text-align: center;
        font-size: 4vh;
        color: #ffffff;
        margin-bottom: 1vh;
    }

    .label{
        position: relative;
        margin-left:2vw;
        width:100%;
        text-align: left;
        font-size: 3vh;
        color: #ffffff;
    }
    .login_put{
        position: relative;
        color: white;
        margin-right: 1.6vw;
        margin-left: 1.6vw;
        margin-bottom:3vh;
        font-size: 3vh;
        width: 25vw;
        height: 5vh;
        padding: 1.3vh 1.3vh;
        background-color: #1F2325;
        border: none;
        border-radius: 1vh;
    }

}
