body{
    background-color:rgb(0, 0, 0);
    color:white;
}
    /*Scrollbar custom*/
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #818181; 
    }
    ::-webkit-scrollbar-thumb {
        background: rgb(255, 255, 255); 
    }
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(83, 83, 83); 
    }

/*      Number Pannel       */

numberpannel{
    background-color:rgb(0, 0, 0);
    color:white;
}
#numdisplay{
    background-color:rgb(0, 0, 0);
    color:white;
    text-shadow: 0px 0px 25px #00aeff;
}

/*      Input Pannel        */

inputpannel{
    background-color:rgb(0, 0, 0);
    color:white;
}
.rangeselector{
    background-color:rgb(0, 0, 0);
    color:white;
}
#generatebtn{
    background-color:rgb(0, 0, 0);
    color:#afafaf;
    border-color:#afafaf;
}#generatebtn:hover{box-shadow: inset 0px 0px 50px #ffffff;color:#ffffff}
.rangeinput{
    background-color:rgb(0, 0, 0);
    color:white;
}.rangeinput:hover{border-color:#00aeff;color:#00aeff}
.incrimentorbtn{
    background-color:rgb(0, 0, 0);
    color:#afafaf;
    border-color:#fffcfc;
}.incrimentorbtn:hover{box-shadow: inset 0px 0px 25px #ffffff;color:#ffffff}
.errorinput{
    border-color: red;
    background-color: black;
}
/*      History pannel      */

historypannel{
    background-color:rgb(0, 0, 0);
    color:white;
}
#historydisplay{
    background-color:rgb(0, 0, 0);
    color:white;
}
.historyelement{
    background-color:rgb(0, 0, 0);
    color:white;
    border:1px solid rgb(255, 255, 255);
    box-shadow: #ffffff;
}.historyelement:hover{box-shadow: #afafaf;}
    
.recopybtn{
    background-color:rgb(0, 0, 0);
    color:#afafaf;
    border-color:#afafaf;
}.recopybtn:hover{box-shadow: inset 0px 0px 25px #ffffff;color:#ffffff;}
#historytitle{
    background-color:rgb(0, 0, 0);
    color:white;
}
#themechanger{
    background-color:rgb(0, 0, 0);
    color:#afafaf;
    border-color:#afafaf;
}#themechanger:hover{box-shadow: inset 0px 0px 50px #ffffff;color:#ffffff}