body{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

/*      Number Pannel       */

numberpannel{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
#numdisplay{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    text-shadow: 0px 0px 25px #0094d8;
}

/*      Input Pannel        */

inputpannel{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
.rangeselector{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
#generatebtn{
    background-color:rgb(255, 255, 255);
    color:rgb(39, 39, 39);
    border-color:#252525;
}#generatebtn:hover{box-shadow: inset 0px 0px 50px #000000;color:#000000}
.rangeinput{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}.rangeinput:hover{border-color:#0094d8;color:#0094d8}
.incrimentorbtn{
    background-color:rgb(255, 255, 255);
    color:#2c2c2c;
    border-color:#2c2c2c;
}.incrimentorbtn:hover{box-shadow: inset 0px 0px 25px #000000;color:#000000}
.errorinput{
    border-color: red;
    background-color: rgb(255, 255, 255);
}
/*      History pannel      */

historypannel{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
#historydisplay{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
.historyelement{
    background-color:rgb(253, 253, 253);
    color:rgb(0, 0, 0);
    border:1px solid rgb(0, 0, 0);
    box-shadow: #000000;
}.historyelement:hover{box-shadow: #2c2c2c;}
    
.recopybtn{
    background-color:rgb(255, 255, 255);
    color:#2c2c2c;
    border-color:#2c2c2c;
}.recopybtn:hover{box-shadow: inset 0px 0px 25px #000000;color:#000000;}
#historytitle{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
#themechanger{
    background-color:rgb(255, 255, 255);
    color:rgb(39, 39, 39);
    border-color:#252525;
}#themechanger:hover{box-shadow: inset 0px 0px 50px #000000;color:#000000}